@import "../../../styles/theme.scss";

.level {
  .title:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.5rem;
    color: $light;
  }
}

span.vde-button.is-narrow.level-item.vde-home {
  a {
    color: $primary-1;
  }
}

div.level.is-mobile {
  h1.vde-home.title {
    color: $light;
  }
}