
@import "../../styles/theme.scss";


div.section.vde-navbar {
  position: fixed;
  top: 0;
  z-index:10;
  height: auto;
  background-color: $light;
  width: 100%;
  height: fit-content;
  padding: 0;
}

.vde.navbar.menu {
  height: 2rem;
  width: auto;
  border-radius: 50%;
}

.vde.dropdown.nav-item:hover,
.vde.dropdown.nav-item:focus,
.home-add-bp.level-item:hover,
.home-add-bp.level-item:focus
{
  a {
    color: $dark;
  }
  color: $dark;
  border-color: $dark;
  border-width: thin;
  border-style: outset;
}

.inscription-link {
  color: $link;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


div.container.vde-navbar {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0;
}

div.level.vde-navbar {
  height: auto;
  width: 100%;
  margin: 0;
  margin-bottom: -10px;
}

.navbar-nav {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

span.home-add-bp,
.vde.dropdown.nav-item {
  --button-size: calc(5.5rem * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  margin: 3px;
  background-color: $primary-4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  cursor: pointer;
  color: $link;
}

span.home-add-bp:hover,
.vde.dropdown.nav-item:hover {
  color: $dark;
}

.level.is-mobile .home-add-bp.level-item:not(:last-child) {
  margin-right: 3px;
  margin-bottom: 3px;
}

span.home-add-bp a .icon {
  display: flex;
  color: inherit;
}

.vde.navbar.image.is-32x32 {
  color: inherit;
  font-size: x-large;
  background: transparent;
}

/* Icon Button */
.icon-button {
  --button-size: calc(5.5rem * 0.35);
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
