@import "../../../styles/theme.scss";

.checkbox {
	padding-right: 1rem;
	:hover {
		color: $light;
	}
}
.tbp-context {
	padding-top: 0.5rem;
	margin-bottom: 0;
	h2.subtitle {
		padding: 0;
		margin: 0;
		font-weight: 600;
	}
}

.hero {
	.title {
		color: $dark;
	}
	padding: 1rem 0;
}


p.tbp-description {
	color: $dark;
	font-size: 1rem;
	font-weight: 400;
	padding-top: 0.5rem;
}

.filter.checkbox:hover {
	color: $light;
}

.hero {
	margin: 0.6rem 0;
}
