@import "../../../styles/theme.scss";

.checkbox {
	padding-right: 1rem;
	:hover {
		color: $light;
	}
}

p.subtitle.level-item {
    font-weight: 700;
    padding: 0.5rem;
    font-size: xx-large;
}

div.tbp-description {
	p {
		margin-bottom: 1rem;
	}
}

span.vde-button.is-narrow.level-item.button.tbp-radio {
	color: $dark;
	background-color: $light;
}

.button.tbp-radio {
	color: $dark;
	background-color: $light;
	margin-right: 0.5rem;
}

.author-icon {
	padding-right: 0.3rem;
}

.hero {
	.title {
		color: $dark;
	}
	padding: 1rem 0;
}


div.tbp-description {
	color: $dark;
	font-size: 1rem;
	font-weight: 400;

	h2 {

	}
	padding-top: 0.5rem;
}

.filter.checkbox:hover {
	color: $light;
}

.hero {
	margin: 0.6rem 0;
}

div.vde-bigpicture-page {
  .container.tbp-section.section-field {
    padding-bot: 1rem;
  }
}
