@import "../../styles/theme.scss";


.navbar.tbp-navbar {
	background-color: #D2DDC3;
}

.navbar-item {
    font-weight: bold;
}

.navbar-item.tbp-logo img {
    max-height: 3.5rem;
}

.github-icon {
	color: #333;
}

.twitter-icon {
	color: #55acee;
}

.discord-icon {
	color: #8C9EFF;
}

