
@import "../../styles/theme.scss";

.vde.navbar.menu {
  height: 2rem;
  width: auto;
  border-radius: 50%;
}

.vde.dropdown.nav-item:hover,
.vde.dropdown.nav-item:focus {
  border-color: $dark;
  border-width: thin;
  border-style: outset;
}

.inscription-link {
  color: blue;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Top Navigation Bar */

div.section.vde-navbar {
  height: $navsize;
  background-color: $primary-5;
  border-bottom: var(--border);
  width: 100%;
  padding: 1.5rem 0;
}

div.container.vde-navbar {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
}

div.level.vde-navbar {
  height: 100%;
  width: 100%;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.vde.dropdown.nav-item {
  --button-size: calc(5.5rem * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  margin: 3px;
  background-color: $primary-4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(5.5rem * 0.35);
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}


