@import "../../styles/theme.scss";

.vde.card.endorsment {
  background-color: $primary-4;
}

.button.tbp-radio.removeendorsment {
  background-color: $primary-4;
}

.field {
  .subtitle.vde-loadmore {
    color: $dark;
  }
}

.vde.child.neweval {
  .card-header.level.is-mobile {
    .level-left {
      .subtitle-modal {

      }
    }
    .level-right {

    }
  }
  .explanation {

  }
}
