[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=2.2"
django-cors-headers = "*"
djangorestframework = "*"
gunicorn = "*"
djangorestframework-jwt = "*"
psycopg2 = "*"
Pillow = "6.1.0"
boto3= "==1.9.38"
django-storages= "==1.7.1"

[requires]
python_version = "3.7"
