.arglist-title.level-item.title {
	margin: 0;
	text-align: left;
	float: left;
	padding-right: 1rem;
}

.arglist-level.level {
	padding-bottom: 0rem;
	display: block;
}

.modal-card-title {
	font-weight: bold;
}