@import "../../../styles/theme.scss";

.subtitle-modal {
	margin: 0;
	padding: 0.5rem 0;
	font-weight: bold;
}

.level-item.star-rating {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.card {
	color: $dark;
}

.subject {
	background-color: $light;
}

.problem {
	background-color: $primary-2;
}

.solution {
	background-color: $primary-3;
}

.resource {
	background-color: $primary-1;
}

.tbp-star {
	color: $light;
}

.tbp-star.checked {
	color: #ffc857; 
}

.tbp-addbutton.button {
	background-color: $light;
}

.card-header {
	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-bottom: 0.1rem;
	margin-bottom: 0.1rem;
	color: $dark;
}

.card-header-title {
	color: $dark;
	text-align: left;
}

section.modal-card-body {
	color: $dark;
}

.card-content {
	padding-top: 0;
	padding-left: 2rem;
	padding-bottom: 0.6rem;
	color: $dark;
}

.icon {
	margin: 0.3rem;
	.bp-preview-icon {
		color: $dark;
		:hover {
			color: grey;
		}
	}
}

.title-button {
	margin-left: 1rem;
}

.bplist-title.title.level-item {
	text-align: left;
	float: left;
	margin-bottom: 0;
	max-width: 95%;
}

.level.preview-item-level {
	padding: 0 0.8rem;
	min-height: 4rem;
}

.arglist-level.level {
	padding-bottom: 0rem;
}

.bp-tile {
	margin: 0.4rem 0;
}