@import "../../styles/theme.scss";


.tbp-star {
	color: $light;
	border-color: black;
	width: 1rem;
}

.selected {
	.tbp-star {
		color: gold;
	}
}

.level.star-level.is-mobile {
	margin-bottom: 0.4rem;
	display: inline-flex;
}
