@import "../../styles/theme.scss";


/* */
.vde.child.card-content {
  width: 100%;

  .card-header.level.is-mobile {
    .level-left {
      .vde.header-button.lookicon {
        transform: rotate(180deg);
      }

    }
    .level-right {
      .icon-button {
        width: 1.4rem;
      }
    }
  }
}

.helper-text {
  border-left-style: inset;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: small;
}

.vde.new-item {
  background-color: $primary-3;
  padding: 1rem;
  border-radius: 10px;
}

.level.is-mobile.show-advanced-options {
  height: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  left: calc(50% - 7rem);
  width: 50%;
}

.level.is-mobile.show-advanced-options:hover {
  .level-item {
    p {
      font-weight: 600;
    }
    .icon-button {
      stroke: $dark;
      stroke-width: 15;
      color: $dark;
    }
  }
}

.card.subject-preview.pinned {
  border-top-right-radius: 30px;
}

.vde.header-button.pin-icon {
  height: 0;
  position: absolute;
  top: 3px;
  right: -12px;

  .vde.header-icon:hover,
  .vde.header-icon {
    color: $red;
    width: 1.2rem;
    stroke-width: 0;
  }
}