@import "../../../styles/theme.scss";

.title.brand {
	color: $dark;
}

.username {
	color: $dark;
}

.login-input {
	width: 100%;
}

.navbar-section.section.tbp-section {
	background-color: #CEC8C8;
	height: 4rem;
}

.container.nav-container {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 4rem;
	width: 100%;
	padding: 0 0.5rem;
}

.level.tbp-nav-level {
	height: 4rem;
	padding: 1rem 0;
}

.navbar-item.tbp-nav-item {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	height:3rem;
}

.tbp-logo {
    width: 5rem;
    height: 3rem;
}

.github-icon {
	color: #333;
}

.twitter-icon {
	color: #55acee;
}

.discord-icon {
	color: #8C9EFF;
}

.username {
	width: 10rem;
	text-align: right;
	font-weight: bold;
	padding-right: 0.5rem;
}

.button.username {
	width: 2rem;
}

.button.username.logged-in {
	background-color: $primary-2;
}

.button.username.logged-out {
	background-color: $primary-3;
}