.column-title {
	text-align: center;
}

.pro-column {
}

.con-column {
}

.bp-body.section {
	padding-top: 0;
}

.bp-body-container {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.bp-header-container {
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}

.subtitle {
	margin-bottom: 0.5rem;
	font-weight: 600;
	text-align: center;
}
