html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu';
}

body.fontLoaded {
  font-family: 'Ubuntu';
}

#app {
  background-color: $dark;
  color: $dark;
  min-height: 100%;
  min-width: 100%;
  top: 5.5rem;
  padding-top: 1rem;
  position: absolute;
}

p,
label {
  font-family: 'Ubuntu';
  text-align: justify;
  max-width: 100%;
  line-height: 1.5em;
}

.preview-item-level {
  padding-right: 1rem;
}

.vde.container.section {
  padding: 0.6rem;
}

a {
  color: $dark;
}

.vde.level {
  margin: 0.7rem 0;
}

.vde.level:not(:last-child) {
  margin-bottom: 0;
}

.vde.subtitle {
  color: $light;
}

.vde.no.margin.top {
  margin-top: 0;
}
