html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu';
}

body.fontLoaded {
  font-family: 'Ubuntu';
}

#app {
  background-color: hsl(198, 0%, 21%);
  color: $dark;
  min-height: 100%;
  min-width: 100%;
  top: 5.5rem;
  padding-top: 1rem;
  position: absolute;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  margin: 0;
}

.card-content {
  padding: 0;
  width: 100%;
}

p,
label {
  font-family: 'Ubuntu';
  text-align: left;
  max-width: 100%;
  line-height: 1.5em;
}

.vde.header-button {
  font-size: x-large;
  color: $link;
  margin: 0;
}
.vde.header-button:not(:first-child) {
  margin-left: 1rem;
}
.vde.header-button:not(:last-child) {
  margin-right: 0.3rem;
}

.vde.header-icon {
  color: $link;
  width: 1.5rem;
}

.vde.header-icon:hover {
  stroke: $dark;
  stroke-width: 15;
  color: $dark;
}


.vde.header-button:focus,
.vde.header-button:hover {
  color: lighten($link, 20%);
}

.preview-item-level {
  padding-right: 1rem;
}

.vde.container.section {
  padding: 0.6rem;
}

a {
  .icon {
    color: $dark;
  }
}

.vde.level {
  margin: 0.7rem 0;
}

.vde.level:not(:last-child) {
  margin-bottom: 0;
}

.vde.subtitle {
  color: $light;
}

.vde.no.margin.top {
  margin-top: 0;
}
