
@charset "utf-8";

// Update Bulma's global variables
$family-sans-serif: "Ubuntu", sans-serif;
$primary-1: hsl(198, 0%, 15%);
$primary-2: #281346;
$primary-3: hsl(198, 0%, 70%);
$primary-4: #D4D4D4;
$primary-5: hsl(48, 100%, 89%);

$red: hsl(9, 85%, 67%);
$dark: hsl(198, 0%, 15%);
$light: hsl(48, 100%, 89%);
$link: hsl(198, 100%, 28%);

$widescreen-enabled: false;
$fullhd-enabled: false;
$navsize: 5.5rem;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma-divider/dist/css/bulma-divider.sass";

@import './global-styles.scss';
@import './modals.scss';
@import './cards.scss';
